/*Selectores Avanzados*/

/* *{
    color: blue;
    margin: 30px;
    font-size: 30px;
} */

/* h1,h2,p{
    color: red;
} */

header h1{ color: green;}

/*Selectores hijos*/

p>span{
    color: pink;
}


/*Selector adyacente*/
h1+h2{
    color:indigo;
}

/*selectores hermanos*/

h1~h2{color: tomato;}


/*Selectores de Atributo*/
input[type="text"]{
    background-color: green;
}