@font-face{
    font-family: "original";
    src: url(./JosefinSlab-Italic-VariableFont_wght.ttf);
}

h1{
    font-family: "original";
    color: aqua;
    font-size: 30px;
    font-weight: bolder; /* bolder = negrita*/
}

a{
    text-decoration: none; /*quita el subrayado*/
    color: darkgreen;
    font-weight: bolder;
    font-size: 20px;
}